<slide class="title-slide segue nobackground">
  <hgroup class="auto-fadein">
    <h1>{{ page.title }}</h1>
    <br/>
    <br/>
    <br/>
    <h2>{{ page.subtitle }}</h2>
    <p>{{ page.author }}<br/>{{ page.job }}</p>
  </hgroup>
  {{# page.github }}
    <a href="https://github.com/{{user}}/{{repo}}/zipball/gh-pages" class="example">
     Download
    </a>
  {{/ page.github }}
  <article></article>  
    <aside class="gbar">
    {{# page.logo }}   
       <img src="{{page.url.assets}}/img/{{{ page.logo }}}">
    {{/ page.logo }}
    </aside>    
</slide>
